<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{deck[1]}}</title>
</head>

<body>
    <div>
        <h1>{{deck[1]}}</h1>
        <a href="/deck/{{deck[0]}}/play" class="linkstyle">Play</a>
        <a href="/" class="linkstyle">Frontpage</a>
        {% if is_owner %}
        <a href="/deck/{{deck[0]}}/edit" class="linkstyle">Edit</a>
        {% endif %}
    </div>

    <div>
        <h2>Reviews</h2>
        <table>
        {% for review in reviews %}  
            <tr><td>Username: {{review["username"]}}</td></tr>
            <tr><td>Rating: {{review["rating"]}}</td></tr>
            <tr><td>Comment: {{review["comment"]}}</td></tr>
            <p></p>
        {% endfor %}
        </table>
        
    </div>

</body>