<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{deck[1]}}</title>
</head>

<body>
    <div>
        <h1>{{deck[1]}}</h1>
        <a href="/deck/{{deck[2]}}/play" class="linkstyle">Play</a>
        {% if is_owner %}
        <a href="/deck/{{deck[2]}}/edit" class="linkstyle">Edit</a>
        <a href="/deck/{{deck[2]}}/delete" class="linkstyle">Delete</a>
        {% endif %}
    </div>

    <div>
        <h2>Reviews</h2>
        <table>
        {% for review in reviews %}     
            <tr><td>{{review["username"]}}</td></tr>
            <tr><td>{{review["rating"]}}</td></tr>
            <tr><td>{{review["comment"]}}</td></tr>
        {% endfor %}
        </table>
        
    </div>

</body>