<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{deck[1]}}</title>
</head>

<body>
    <div>
        <h1>{{deck[1]}}</h1>
        {% if lenght > 0 %}
        <a href="/deck/{{deck[0]}}/play" class="linkstyle">Play</a>
        {% endif %}
        <a href="/" class="linkstyle">Frontpage</a>
        {% if is_owner %}
        <a href="/deck/{{deck[0]}}/edit" class="linkstyle">Edit</a>
        {% endif %}
    </div>

    <div>
        {% if logged_in %}
        <div>
            <h3>Leave a review</h3>
            <form action="/deck/{{deck[0]}}/review" method="post">
                <label for="rating">Rating:</label>
                <input type="number" id="rating" name="rating" min="1" max="5" required>
                <label for="comment">Comment:</label>
                <input type="text" id="comment" name="comment" required>
                <input type="submit" value="Submit">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        {% endif %}
        <h2>Reviews</h2>
        <table>
        {% for review in reviews %}  
            <tr><td>Username: {{review[0]}}</td></tr>
            <tr><td>Rating: {{review[1]}}</td></tr>
            <tr><td>Comment: {{review[2]}}</td></tr>
            <p></p>
        {% endfor %}
        </table>
        
    </div>

</body>